body  
{  
    margin: 10;  
    padding: 0;  
    background-color:#2bb18eba;  
    font-family: 'Arial';  
}  
.container{
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #23463f;  
  border-radius: 15px ;  
  margin: auto;
  width: 50%;
  
  padding: 10px;

}
input[type=text], input[type=Password]{
  padding: 15px;
  margin: 5px 0 22px 0;
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  border-radius: 25px;

}
/* .login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}   */
h2{  
    text-align: center;  
    color: #277582;  
    padding: 15px;
}  
h2{  
    color: #23463f;  
    font-size: 25px;  
}  
.Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: px;  
    
}  
.Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
/* span{  
    color: black;  
    font-size: 17px;  
}   */
a{  
    float: right;  
    background-color: grey;  
}  


/* body {
    
    padding: 0;
    margin: 0;
    background: #b3cdbf;
  } */
  /*--- navigation bar ---*/
  /* .navbar {
    background:#9cd28a;
  }
  .nav-link,
  .navbar-brand {
    margin: 0;
    padding: 0;
    color: #fff;
    cursor: pointer;    width: 65px;
  }

  .container{
    color: rgb(138, 133, 133);
    font-family: sans-serif;
  }
  .navbar-brand img{
    max-height: 75%;
  }
  .carousel-item{
    border: 20px solid #b3cdbf;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .dropdown-menu {
    margin-top: 0;
  }

  .header {
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  html, body {
    height: 100%;
  } */
